{% load staticfiles %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Game Master</title>
<link rel="icon" type="image/png" href="/static/images/logo-dark.png"/>

<!-- Semantic Core CSS -->
<link rel="stylesheet" href="{% static "css/semantic.min.css" %}"/>
<link rel="stylesheet" href="{% static "css/base.css" %}"/>

<!-- Required JS at top -->
<script src="{% static "js/jquery-2.2.4.min.js" %}"></script>
<script src="{% static "js/semantic.min.js" %}"></script>