{% extends "base.html" %}
{% load staticfiles %}

{% block css-files %}
  <link rel="stylesheet" href="{% static "css/new.css" %}"/>
{% endblock %}

{% block content %}
  <div class="ui container main-container">
    <h2 class="ui dividing header"> Create new game </h2>
    <form class="ui form grid" id="new-form">
      <div class="row inline fields">
        <label class="four wide column">Name of the Game</label>
        <input type="text" name="name" class="six wide column" placeholder="Your Dish">
      </div>
      <div class="row inline fields">
        <label class="four wide column">Short description of the game </label>
        <textarea name="description" rows="3" class="ten wide column" placeholder="Your Dish"> </textarea>
      </div>
      <!-- Game Genres -->
      <div class="row inline fields">
        <label class="four wide column"> Game genres </label>
        <div class="ten wide"> 
          <div class="ui checkbox">
            <input type="checkbox" name="genre" value="sport">
            <label>Sport</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="genre" value="puzzle">
            <label>Puzzle</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="genre" value="action">
            <label>Action</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="genre" value="puzzle">
            <label>Role-playing</label>
          </div>
        </div>
      </div>
      <!-- Game Modes -->
      <div class="row inline fields">
        <label class="four wide column"> Game modes </label>
        <div class="ten wide"> 
          <div class="ui checkbox">
            <input type="checkbox" name="mode" value="singleplayer">
            <label>Singleplayer</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="mode" value="multiplayers">
            <label>Multiplayers</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="mode" value="coop">
            <label>Co-op</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="mode" value="massive-multiplayers">
            <label>Massive Multiplayers</label>
          </div>
        </div>
      </div>
      <!-- Game Platform -->
      <div class="row inline fields">
        <label class="four wide column"> Supported Platforms </label>
        <div class="ten wide"> 
          <div class="ui checkbox">
            <input type="checkbox" name="platform" value="window">
            <label>Window</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="platform" value="play-station">
            <label>Play Station</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="platform" value="xbox">
            <label>Xbox</label>
          </div>
          <div class="ui checkbox">
            <input type="checkbox" name="platform" value="mobile">
            <label>Mobile</label>
          </div>
        </div>
      </div>
      <!-- Age range-->
      <div class="row inline fields">
        <label class="four wide column"> Recommended age range </label>
        <div class="ui selection dropdown">
          <input type="hidden" name="age-range">
          <i class="dropdown icon"></i>
          <div class="default text">Age range</div>
          <div class="menu">
            <div class="item" data-value="A">Early Childhood</div>
            <div class="item" data-value="B">Everyone</div>
            <div class="item" data-value="C">Everyone 10+</div>
            <div class="item" data-value="D">Teen</div>
            <div class="item" data-value="E">Muture</div>
            <div class="item" data-value="F">Aduls Only</div>
          </div>
        </div>
      </div>
      <!-- Difficulty -->
      <div class="row inline fields">
        <label class="four wide column"> Game difficulty </label>
        <div class="ui selection dropdown">
          <input type="hidden" name="difficulty">
          <i class="dropdown icon"></i>
          <div class="default text">Difficulty</div>
          <div class="menu">
            <div class="item" data-value="A">Simple</div>
            <div class="item" data-value="B">Easy</div>
            <div class="item" data-value="C">Just Right</div>
            <div class="item" data-value="D">Tough</div>
            <div class="item" data-value="E">Unforgiving</div>
          </div>
        </div>
      </div>
      <div class="ui error message"></div>
      <div class="row inline fields">
        <button class="ui submit teal button" type="submit" style="margin: 10px auto"><i class="icon edit"></i> Submit</button>
      </div>
    </form>
    
  </div>
{% endblock %}
{% block js-files %}
  <script src="{% static "js/new.js" %}"> </script>
{% endblock %}